<div class="top-0 bg-green-500 p-2 text-lg">
    <a href="/" class="navbar-link">HOME</a>
    <a href="/projects" class="navbar-link">PROJECTS</a>
    <a href="/about" class="navbar-link">ABOUT</a>
</div>