<a href="/projects/{{project.name}}" class="project-widget">
  <img src="/passets/{{project.previewimg}}" alt="{{project.name}}">
  <div class="shader"></div>
  <p>{{project.year}}</p>
  <h3>{{project.name}}</h3>
</a>