#canvas {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  background-color: white;
  display: inline-block;
}

#control-box {
  width: 500px;
  display: flex;
}

.controls div {
  display: inline-block;
  margin: 0 2px;
}

.controls button {
  height: 30px;
}

.controls p {
  margin: 0;
}

.point-count-control {
  button {
    width: 30px;
    height: 30px;
  }
}
