#canvas {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  background-color: white;
  display: inline-block;
}

#control-box {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls div {
  display: inline-block;
  margin: 0 2px;
}

.controls button {
  height: 30px;
}

.controls p {
  margin: 0;
}

#playback-control,
#options-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point-count-control button {
  width: 30px;
  height: 30px;
}

#inter-toggle-box p {
  margin: 0;
  display: inline-block;
}

#proj-ref-link {
  text-decoration: underline;
}

#pg-info-box {
  width: 500px;
}
