<title>piman.dev | about</title>
<h1 class="section-title">About</h1>
<div class="flex m-1">
    <div class="m-auto">
        <div
            class="my-2 m-auto rounded-full border-black border-opacity-100 border-1 bg-white overflow-hidden w-60 h-60 p-10">
            <img src="/assets/img/piman-logo.png" class="m-auto w-40 h-40" />
        </div>
        <div class="m-auto w-3/4">
            <div class="bg-white rounded-lg p-1 my-2">
                <div class="bg-gray-100 rounded-lg p-1 m-1">
                    <p class="default-font text-center">I'm a US-based developer with a passion for computer games and
                        web development.</p>
                </div>
                <div class="bg-gray-100 rounded-lg p-1 m-1">
                    <p class="default-font text-center">I occasionally make small projects, which I post to this
                        website.</p>
                </div>
            </div>
            <div class="bg-white rounded-lg p-1 my-2">
                <div class="bg-gray-100 rounded-lg p-1 m-1">
                    <p class="default-font text-center">I'm currently working on everyday.tf</p>
                </div>
                <div class="bg-gray-100 rounded-lg p-1 m-1 flex">
                    <a href="https://everyday.tf" class="rounded-lg m-auto">
                        <img src="/assets/img/everyday-logo.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 class="section-title">Links</h1>
<div class="flex m-1">
    <div class="m-auto">
        <div class="bg-white rounded-lg p-1 my-2 flex">
            <a class="link-pill bg-black text-white" href="https://github.com/piman51277">Github</a>
            <a class="link-pill bg-black text-white" href="https://steamcommunity.com/profiles/76561198954908705">Steam</a>
        </div>
    </div>
</div>