<title>piman.dev | home</title>
<div class="flex w-full h-full">
    <div class="m-auto">
        <h1 class="default-font text-white text-5xl text-center">piman.dev</h1>
        <div class="my-2 m-auto rounded-full border-black border-opacity-100 border-1 bg-white overflow-hidden">
            <img src="/assets/img/piman-logo.png" class="transform scale-75"/>
        </div>
        <div class="my-2 p-1 m-auto default-font font-bold">
            <a class="block bg-green-500 rounded-lg m-auto text-center p-2 my-1" href="/projects">
                <p class="text-white inline m-auto">PROJECTS</p>
            </a>
            <a class="block bg-green-500 rounded-lg m-auto text-center p-2 my-1 text-bold" href="/about">
                <p class="text-white inline m-auto">ABOUT</p>
            </a>
        </div>

    </div>

</div>