<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="piman's website">
    <meta name="keywords" content="piman,piman51277">
    <meta name="og:type" content="website">
    <meta name="og:title" content="piman.dev">
    <meta name="og:description" content="piman's website">
    <title>piman.dev</title>
  </head>
  <body>
    <h1 id="proj-title">misc</h1>
    <a id="proj-return" href="/">back home -></a>
    <div id="misc-box">
      <p>nothing here yet</p>
    </div>
  </body>
</html>