<div class="default-box text-center">
	<h1 class="text-4xl font-bold">{{{project.title}}}</h1>
	<p class="text-base">{{{project.description}}}</p>
	<p class="text-sm text-gray-500">Created {{{project.created}}}</p>
</div>
<div class="m-1 flex">
	{{{contents}}}
</div>