<div class="project-pill-box">
  <div class="project-pill-img loading-box">
    <img />
  </div>
  <div class="project-pill-summary">
    <h1 class="project-pill-title font-k2d-medium">Project Name Here</h1>
    <p class="project-pill-description font-k2d-medium">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in
    </p>
    <div class="project-tech-icon-box"></div>
    <div class="project-pill-link-box"></div>
  </div>
</div>
