<!DOCTYPE html>
<html>
  <head>
    <title>css-cube</title>
    <script src="/static/js/cube.js"></script>
    <link rel="stylesheet" href="/static/css/cube.css" />
  </head>
  <body>
    <div id="cube-box">
      <div id="cube-rotator">
        <div class="cb-face" id="cb-front">
          <p>front</p>
          <a href="https://github.com" target="_blank">Link !!!</a>
        </div>
        <div class="cb-face" id="cb-left">left</div>
        <div class="cb-face" id="cb-back">back</div>
        <div class="cb-face" id="cb-right">right</div>
        <div class="cb-face" id="cb-top">top</div>
        <div class="cb-face" id="cb-bottom">bottom</div>
      </div>
    </div>
    <button id="seek-home">Home</button>
    <button id="toggle-snap">Toggle Snap</button>
    <button id="toggle-lock">Toggle Lock</button>
    <button id="seek-front">Front</button>
    <button id="seek-left">Left</button>
    <button id="seek-back">Back</button>
    <button id="seek-right">Right</button>
    <button id="seek-top">Top</button>
    <button id="seek-bottom">Bottom</button>
  </body>
</html>
