<!DOCTYPE html>
<html>
  <head>
    <title>css-cube</title>
    <script src="/static/js/cube.js"></script>
    <link rel="stylesheet" href="/static/css/cube.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="cube-box">
      <div id="cube-rotator" title="drag me!">
        <div class="cb-face" id="cb-front">
          <p>front</p>
          <a href="https://github.com" target="_blank">Link !!!</a>
        </div>
        <div class="cb-face" id="cb-left">left</div>
        <div class="cb-face" id="cb-back">back</div>
        <div class="cb-face" id="cb-right">right</div>
        <div class="cb-face" id="cb-top">top</div>
        <div class="cb-face" id="cb-bottom">bottom</div>
      </div>
      {% include "elements/cube-controls.html" %}
    </div>
  </body>
</html>
