<!DOCTYPE html>
<html lang="en">
  <head>
    <title>piman.dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap" rel="stylesheet"/>
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="icon" href="/assets/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="piman's personal website"/>
    <meta name="keywords" content="piman"/>
  </head>
  <body>
    {% include "icons/preload.njk" %}
    {% import "elements/link.njk" as link %}
    <div id="cube-box">
      <div id="cube-rotator" title="drag me!">
        <div class="cb-face" id="cb-front">
          <div class="cb-face-content cb-content-text">
            <p class="font-k2d-medium">
              Hi, I’m piman. <br/> Welcome to my website! <br/> <br/> If you’re in a hurry:
                <br/>
              <a target="_blank" href="https://github.com/piman51277" aria-label="link to piman's github">GitHub</a>
              |
              <a
                target="_blank"
                href="https://steamcommunity.com/profiles/76561198954908705"
                aria-label="link to piman's steam account">Steam</a>
              <br/> <br/> If not, have a look ‘round <br/> (P.S. This thing rotates!)
            </p>
          </div>
        </div>
        <div class="cb-face" id="cb-left">
          <div class="cb-face-content cb-content-section">
            <h1 class="font-k2d-medium">About</h1>
            <p class="font-k2d-medium">
              I make impractical <br/> things for fun. <br/> After all, <br/> you’ll never learn if you never try something new.
            </p>
          </div>
        </div>
        <div class="cb-face" id="cb-back">
          <div class="cb-face-content">
            <img src="/assets/coffee.webp" alt="piman's profile picture" height="200px" width="200px"/>
          </div>
        </div>
        <div class="cb-face" id="cb-right">
          <div class="cb-face-content cb-content-section">
            <h1 class="font-k2d-medium">Projects</h1>
            <div class="cb-content">
              <div class="cb-link-pill">
                <span class="font-k2d-medium">Live Demos</span>
                {{ link.internal("/projects", "links to projects page") }}
              </div>
              <div class="cb-link-pill">
                {% include "icons/gh-icon.njk" %}
                <span class="font-k2d-medium">Repos</span>
                {{ link.external("https://github.com/piman51277?tab=repositories", "links to github repositories") }}
              </div>
            </div>
          </div>
        </div>
        <div class="cb-face" id="cb-top">
          <div class="cb-face-content">
            <canvas id="cube-canvas-snek"></canvas>
          </div>
        </div>
        <div class="cb-face" id="cb-bottom">
          <div class="cb-face-content cb-content-text">
            <p class="font-k2d-medium">
              This site was created through heavy abuse of transform: and a healthy dose of linear algrebra. All assets (except the
              GitHub logo) were made by me. I hope this was an interesting experience.
            </p>
          </div>
        </div>
      </div>
      {% include "elements/cube-controls.njk" %}
    </div>
  </body>
</html>