<!DOCTYPE html>
<html lang="en">
  <head>
    <title>piman.dev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap"
          rel="stylesheet" />
    <script src=""></script>
    <link rel="stylesheet" href="/static/css/projects.css" />
    <link rel="icon" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="piman's projects" />
    <meta name="keywords" content="piman, projects" />
  </head>
  <body>
    {% include "elements/project-pill.njk" %}
    {% include "elements/project-pill.njk" %}
  </body>
</html>
